@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Ubuntu:wght@400;300;700&display=swap');

body {
  background-color: #1F2228;
}

input, button, select {
  &:focus {
    outline: none !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E9E9E9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #36393E;
  border-radius: 5px;
}

.textGradient {
  background: -webkit-linear-gradient(#EB6B5B, #ECBAF6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bgShadow {
  background: linear-gradient(180deg, #EB6B5B 0%, #ECBAF6 100%);
  filter: blur(120px);
  border-radius: 50%;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 200px;
}

.linearGradient {
  background: linear-gradient(to right, #EB6B5B 0, #ECBAF6 90%);
}

.home {
  .banner {
    display: grid;
    grid-template-columns: 1fr 460px 1fr;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  .line4 {
     left: calc(20% - 7px);
     top: 90%;
    &.moveUp {
     top: 84px;
    }
    transition: all 5s;
  }
  .line7 {
    right: 0;
    top: 401px;
    &.moveLeft {
      right: 365px;
    }
    transition: all 4s;
  }
  .line8 {
    right: 0;
    left: 0;
    top: 620px;
    @media (max-width: 1024px) {
      top: 494px;
    }
  }
  .line9 {
    left: 1400px;
    top: 627px;
    &.moveLeft {
      left: 70px;
    }
    transition: all 6s;
    @media (max-width: 1024px) {
      top: 501px;
    }
  }
  .line10 {
    top: 0;
    left: calc(50% - 7px);
    transition: all 6s;
    &.moveDown {
     top: 690px;
    }
  }

  .line11 {
    left: calc(50% - 7px);
    bottom: 350px;
  }
  .line12 {
    left: calc(31.5% - 7px);
    bottom: 350px;
  }

  .pre-sale {
    .items-grid {
      display: grid;
      grid-template-columns: 456px 1fr;
      grid-gap: 52px;
      justify-items: center;
      @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      }
    }
  }

  .hot-birds {
    .slider-pic {
      img {
        object-fit: cover;
      }
    }
  }

  .features {
    @media (min-width: 1024px) {
      max-width: 1024px;
      margin: 274px auto 0;
      padding: 0 24px;
    }
    @media (min-width: 1280px) {
      max-width: 1280px;
      margin: 274px auto 0;
      padding: 0 24px;
    }
  }

  .social-nets {
    button{
      background: linear-gradient(#35383D, #35383D) padding-box, linear-gradient(98.8deg, #EC6F62 0%, #A97C9A 97.17%) border-box;
      border: solid 1px transparent;
    }
    .buttons {
      max-width: 850px;
      @media (max-width: 768px) {
        max-width: 329px;
      }
    }
  }
  .vLine {
    border-left: 6px solid green;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    //background-color: rgba(255, 255, 255, 0.4);
  }
}

.staking {
  .social-nets {
      max-width: 374px;
    @media (max-width: 768px) {
      max-width: 329px;
    }
  }
}

