//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Ubuntu:wght@400;300;700&display=swap');

body {
  background-color: #1F2228;
}

input, button, select {
  &:focus {
    outline: none !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E9E9E9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #36393E;
  border-radius: 5px;
}

.textGradient {
  background: -webkit-linear-gradient(#EB6B5B, #ECBAF6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bgShadow {
  background: linear-gradient(180deg, #EB6B5B 0%, #ECBAF6 100%);
  filter: blur(120px);
  border-radius: 50%;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 200px;
}

.linearGradient {
  background: linear-gradient(to right, #EB6B5B 0, #ECBAF6 90%);
}

.home {
  .banner {
    display: grid;
    grid-template-columns: 1fr 460px 1fr;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  .line4 {
     left: calc(20% - 7px);
     top: 90%;
    &.moveUp {
     top: 84px;
    }
    transition: all 5s;
  }
  .line8 {
    right: 0;
    left: 0;
    top: 635px;
    @media (max-width: 1024px) {
      top: 494px !important;
      right: 0 !important;
      left: 0 !important;
    }
  }
  .line9 {
    left: 1400px;
    top: 642px;
    &.moveLeft {
      left: 70px;
    }
    transition: all 6s;
    @media (max-width: 1024px) {
      top: 501px;
      left: -5px !important;
    }
  }
  .line10 {
    top: 0;
    left: calc(50% - 7px);
    transition: all 6s;
    &.moveDown {
     top: 690px;
    }
  }

  .line11 {
    left: calc(50% - 7px);
    bottom: 350px;
  }

  .banner {
    .line7 {
      opacity: 0;
      left: -158px;
      &--btn1 {
       top: 22px;
      }
      &--btn2 {
       top: 168px;
      }
    }
    .btn-1:hover .line7--btn1 {
      opacity: 1;
    }
    .btn-2:hover .line7--btn2 {
      opacity: 1;
    }
  }

  .pre-sale {
    .items-grid {
      display: grid;
      grid-template-columns: 456px 1fr;
      grid-gap: 52px;
      justify-items: center;
      @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      }
    }
  }

  .hot-birds {
    .slider-pic {
      img {
        object-fit: cover;
      }
    }
  }

  .features {
    @media (min-width: 1024px) {
      max-width: 1024px;
      margin: 274px auto 0;
      padding: 0 24px;
    }
    @media (min-width: 1280px) {
      max-width: 1280px;
      margin: 274px auto 0;
      padding: 0 24px;
    }
  }

  .listing {
    .line12 {
      position: absolute;
      top: 200px;
      right: 0;
      left: 0;
      @media (max-width: 1024px) {
        right: 0;
        left: -800px;
        top: 313px;
      }
    }
    .line13 {
      position: absolute;
      left: 41%;
      top: 207px;
      @media (max-width: 1800px) {
        left: 39%;
        top: 207px;
      }
      @media (max-width: 1410px) {
        left: 37%;
        top: 207px;
      }
      @media (max-width: 1280px) {
        left: 35%;
        top: 207px;
      }
      @media (max-width: 1120px) {
        left: 33%;
        top: 207px;
      }
      @media (max-width: 1024px) {
        left: 0;
        top: 320px;
      }
      @media (max-width: 640px) {
        left: -70px;
        top: 320px;
      }
      @media (max-width: 420px) {
        left: -100px;
        top: 320px;
      }
    }
  }

  .social-nets {
    button{
      background: linear-gradient(#35383D, #35383D) padding-box, linear-gradient(98.8deg, #EC6F62 0%, #A97C9A 97.17%) border-box;
      border: solid 1px transparent;
    }
    .buttons {
      max-width: 850px;
      @media (max-width: 768px) {
        max-width: 329px;
      }
    }
  }
}

.staking-lines {
  .line1 {
    left: 0;
    right: 0;
    top: 620px;
  }

  .line2 {
    left: 800px;
    top: 627px;
    &.moveLeft {
      left: 90px;
      @media (max-width: 1024px) {
        left: -5px;
        top: 290px;
      }
    }
    transition: all 4s;
  }
  .line3 {
    right: 420px;
    top: 0;
    bottom: 0;
  }
  .line4 {
    left: 350px;
    top: 0;
  }
  .line5 {
    left: 343px;
    top: 800px;
    &.moveUp {
      top: 87px;
    }
    transition: all 4s;
  }
}

.staking {
  .social-nets {
      max-width: 374px;
    @media (max-width: 768px) {
      max-width: 329px;
    }
  }
}

.staking-detail {
  padding-bottom: 0 !important;
}

